<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="Read.Domain.Book.BookMapper"/>
        <package name="Read.Domain.Log.LogMapper"/>
        <package name="Read.Domain.ErrorLog.ErrorLogMapper"/>
        <package name="Read.Domain.User.UserMapper" />
    </typeAliases>
    <mappers>
        <mapper resource="mapper/BookMapper.xml"/>
        <mapper resource="mapper/ErrorLogMapper.xml"/>
        <mapper resource="mapper/LogMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>