<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
        <connectionSource clas="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>com.mysql.jdbc.Driver</driverClass>
            <url>jdbc:mysql://211.249.63.227:3306/read</url>
            <user>read</user>
            <password>readqwer1234</password>
        </connectionSource>
    </appender>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="Read" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.mybatis" level="DEBUG"/>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
