<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Read.Domain.User.UserMapper">

    <select id="selectAll" resultType="Read.Domain.User.User">
        SELECT *
        FROM read.User
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultType="Read.Domain.User.User">
        SELECT userId,nickName,profile_url as profileUrl,book_point as bookPoint,longitude,latitude,address,phoneNumber,userName,postcode,detail_address as detailAddress
        FROM read.User
        WHERE userId = #{userId}
    </select>

    <select id="selectByAddress" parameterType="java.lang.Long" resultType="Read.Domain.User.AddressDto">
        SELECT address, postcode AS postCode, detail_address AS detailAddress
        FROM read.User
        WHERE userId = #{userId}
    </select>

    <update id="updateAddress">
        UPDATE read.User
        SET
          address = #{address},
          latitude = #{latitude},
          longitude = #{longitude},
          postcode = #{postCode},
          detail_address = #{detailAddress}
        WHERE userId = #{userId}
    </update>

    <insert id="firstLogin">
        insert into read.User(userId,nickName,profile_url,book_point)
        VALUES (#{kakaoId},#{profileName},#{profileUrl},0);
    </insert>
    <update id="updateProfileAndNickName">
        update read.User
        SET
          profile_url=#{profileUrl},
          nickName=#{profileName}
        where userId=#{kakaoId};
    </update>

    <select id="confirmId" resultType="Read.Domain.User.User">
        select userId,nickName,profile_url as profileUrl,address
        from read.User
        where userId=#{userId}
    </select>
    <update id="userCreate">
      update read.User
      SET
        latitude=#{latitude},longitude=#{longitude},address=#{address},userName=#{userName},phoneNumber=#{phoneNumber},postcode=#{postCode},detail_address=#{detailAddress}
      WHERE userId=#{userId};
    </update>

    <select id="requestUser" resultType="Read.Domain.ResponseDto.RequestUser">
        SELECT userName, phoneNumber, address
        FROM read.User
        WHERE userId = #{userId}
    </select>

    <update id="update">
        UPDATE read.User
        SET
          userName=#{name},
          address=#{address},
          phoneNumber=#{phoneNumber},
          latitude=#{latitude},
          longitude=#{longitude},
          postcode = #{postCode},
          detail_address = #{detailAddress}
        WHERE userId=#{userId}
    </update>
</mapper>
